<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>

    <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo center-align ">couchDB</a>
          <ul class="right hide-on-med-and-down">
            <li><a class="btn-floating pulse"><i class="material-icons access_alarm">i</i></a></li>
            <li><a class="btn-floating pulse"><i class="material-icons">x</i></a></li>
          </ul>
        </div>
      </nav>





      <h2>customer</h2>  
      <form method="post" action="/customer/add" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input name="name" placeholder="enter fullname" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input name="email" id="last_name" type="text" class="validate">
            <label for="last_name">Email</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
           
          </button>
        </form>
      <br/>
      <br/>
      <ul>
          <% customers.forEach(function(customer){ %>

            
       

            <ul class="collapsible">
                <li>
                  <div class="collapsible-header"><i class="material-icons"><h4><%=customer.value.name %></h4></i></div>
                </li>
                <%=customer.value.email %>
                <form method="post" action="/customer/delete/<%= customer.id %>">
                    <input type="hidden" value="<%= customer.value.rev %>" name="rev">
                    <input style="background-color: red;" type="submit" value="X">
                </form>
              </ul>

          <% }); %>
      </ul>
 
    <!--fotert-->
 <!-- <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>  -->
</body>
</html>